@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

header {
    background-color: #7C5E99;
    
}

a {
    color: #FFF;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}